*{
    text-align: center;
}
body{
 height: 300px;
 width: 500px;
border: 5px solid black ;
border-radius: 2px ;
margin: 200px 350px 200px 350px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;

}
#calculateBtn{
    border: 2px solid black;
    color: white;
    background-color: black;
    border-radius: 2px;
}
#calculateBtn:hover{
    background-color: rebeccapurple;
    

}